
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* admin panel list */
.side {
  width: 220px;
  background: linear-gradient(135deg, #022442e7 );
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  
}

.side h3 {
  margin-bottom: 30px;
  text-align: center; 
  border-radius: 4px;
height: 40px;
padding:10px ;

}

.navigation ul {
  list-style: none;
}

.navigation li {
  margin: 15px 0;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s;
  font-weight: bold;
}

.navigation a:hover {
  background: #34495e;
}
.navigation a:hover {
  text-decoration: underline; 
}
.navigation a.active {
  border: 1px solid var(--primary);
  border-radius: 5px;
  font-size: 20px; 
}


.signin-btn {
  width: 100;
  padding: 12px 28px;
  background: linear-gradient(135deg, black);
  color: #fff;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 120, 215, 0.4);
  transition: all 0.3s ease;
  margin-top: 30px;
}

.signin-btn:hover {

  background: linear-gradient(135deg,black, #8899a6);
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 120, 215, 0.5);
}

.signin-btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}
